{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Weston Wolfcale</title>
  <meta charset="utf-8"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <header class="container">
    <div class="row">
      <h1 class="col-sm-4">Weston Wolfcale</h1>
      <nav class="col-sm-8 text-right">
        <p>resume</p>
        <p>projects</p>
        <p>contact</p>
      </nav>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Welcome!</h2>
        <h3>I'm a developer and musician.</h3>
      </div>
    </div>
  </section>
  <section class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; 2017 Weston Wolfcale</p>
    </div>
  </footer>
</body>
</html>
